{
  "rules": {
    "quotes": [2, "single"],
    "no-use-before-define": [2, "nofunc"],
    "new-cap": [2, {"capIsNew": false}],
    "generator-star": [2, "middle"]
  },
  "env": {
    "node": true,
    "es6": true
  }
}
